
:root{
    --cor-fundo: #F2E2C4;
    --cor-primaria: #BFA380; 
    --cor-secundaria: #734226; 
    --cor-destaque:  #8C5B30;
    --cor-texto: #261F16;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'italiana';
}

@font-face {
    font-family: 'italiana';
    src: url(./Italiana-Regular.ttf);
}

body {
    background-color: var(--cor-fundo);
    margin: 0;
}

p {
    color: var(--cor-texto);
}

h1 {
    color: var(--cor-destaque);
}

a{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 600;
    letter-spacing: 8%;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: var(--cor-primaria);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

.container {
    display: flex;
    padding: 40px;
    gap: 40px;
    width: 100%;
    height: 100vh;
    border-bottom: 3px solid var(--cor-secundaria);
}

.invertido {
    flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
}

.info-monumento {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-top: 105px;
}

.descricao {
    border: 2px dashed gray;
    border-radius: 10px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1.6;
    font-size: 1.5rem;
    margin-top: 2vh;
}

.imagem-monumento {
    flex: 1;
    display: flex;
}

.imagem-monumento img {
    max-width: 40vw;
    height: 80vh;
    object-fit: cover;
    border-radius: 8px;
}

.alinha {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 20px;
    }

    .invertido {
        flex-direction: column;
    }

    .imagem-monumento {
        width: 100%;
    }

    .alinha {
        height: 200px; 
    }

    .descricao {
        height: auto;
        padding: 20px;
        text-align: center;
    }
.historia {
  border: 2px dashed #999;
  padding: 10px;
  margin-top: 10px;
}

.imagem {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
}

.historia {
  border: 2px dashed #999;
  padding: 10px;
  margin-top: 10px;
}

.imagem {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  width:92%;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  width:90%;
  padding:10px;
  margin-top: 10px;  
}